<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="elma_directory_for_log_file" value="C:\Users\kar\Desktop\Test1" />
		<add key="elma_folder_to_sending" value="C:\Users\kar\Desktop\Test" />
		<add key="elma_url" value="https://feltihisiolx2.elma365.ru/pub/v1/disk/directory/f7bc9741-77f1-41f3-ab09-6765b8377a2d/upload" />
		<add key="elma_token" value="1cd24266-e8d4-443b-894a-a498fe808c6e" />
	</appSettings>
</configuration>